# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments (if created in scratches)
venv/
env/
ENV/

# Jupyter Notebook
.ipynb_checkpoints/

# Distribution / packaging
*.egg-info/
dist/
build/